@import url('./reset.css');

:root {
    
}

.main {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    background-color: #f7f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 35%;
    height: 75vh;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    box-sizing: border-box;
}

.header {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 30px;
}

.form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    color: #7563c2;
    font-weight: 600;
    box-sizing: border-box;
}

.form * {
    margin-top: 5px;
}

.form input {
    border: 2px solid #5cc7a8;
    border-radius: 12px;
    padding: 5px;
}

.form input::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.2em;
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* 
Form elements:
- form: 
    method "GET" - collect data by adressline

- input types:
    text 
    email (email format check)
    password (safe input)
    tel (browser will remember)
    radio
    file (to upload files)
    hidden (not widely used)
    color
    date
    datetime/datetime-local

- input atributes:
    type
    name - specify type of data for collection
    value - specify data details for collection
    required - mandatory fields

- button - to send a form

- textarea - to print big texts
- select - for dropdown-menu(only options):
    - option
- datalist - for dropdown-menu with individual options, has to be labeled with input and id
*/